name: Deploy

on:
  workflow_run:
    workflows: ["Build and Push Image"]
    types: [completed]
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  infrastructure:
    environment: prod
    runs-on: ubuntu-latest

    steps:
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
